[user]
	email = chuhaoliu1995@gmail.com
	name = Chuhao Liu
[core]
	editor = vim
	pager = less -F -X
	excludesfile = /Users/chuhaoliu/.gitignore_global
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
